.user {
    width: 90%;
    max-width: 550px;
    height: 210px;
    background-color: $dark_blue;
    border-radius: 20px;
    @include responsive($tablet_large){
        flex-basis: 20%;
        height: 425px;
        width: 20%;
        max-width: 250px;
        // margin: 0 30px 0 10vw;
        margin-right: 12px;
    }
    @include responsive($desktop){
        height: 495px;
        margin-right: 3px;
    }

    &-top {
        @include flex_centered(row);
        height: 140px;
        background-color: $blue;
        border-radius: 20px;
        img {
            width: 75px;
            margin-right: 15px;
            border: 2px solid white;
            border-radius: 50px;
        }
        p {
            margin-bottom: 6px;
            cursor: pointer;
        }
        @include responsive($tablet_large){
            height: 300px;
            padding: 30px;
            justify-content: flex-start;
            align-items: flex-start;
            @include responsive($desktop){
                height: 350px;
            }

            img {
                width: 92px;
            }
            h2 {
                width: 200px;
                font-size: 33px;
                @include responsive($desktop){
                    font-size: 40px;
                }
            }
        }
    }
    &-bottom {
        height: 75px;
        @include flex_centered(row);
        justify-content: space-evenly;
        @include responsive($tablet_large){
            height: 130px;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 30px;
        }
        @include responsive($desktop){
            height: 150px;
        }
        
        p {
            font-size: 18px;
            color: $desaturated_blue;
            text-align: center;
            flex-basis: 33%;
            cursor: pointer;
            @include responsive($desktop){
                @include flex_centered(row);
            }
        }
    }
}